.linkWrapper {
  // Positioning

  // Display & Boxmodel
  display: inline-block;
  padding: 0.625rem;

  // Color
  color: var(--primaryColorLight);

  // Text
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: bold;

  // Other
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: var(--primaryColorDark);
  }
}

.isActive {
  position: relative;
  color: var(--primaryColorDark);

  &::after {
    content: '';
    position: absolute;
    left: 30%;
    top: 90%;
    width: 40%;
    height: 4px;
    background-color: currentColor;
  }
}
