.linkWrapper {
  // Positioning

  // Display & Boxmodel
  display: inline-block;
  padding: 0.625rem;

  // Color
  color: var(--primaryColorLight);

  // Text
  font-size: 0.875rem;
  line-height: 140%;
  font-weight: bold;

  // Other
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    color: var(--primaryColorDark);
  }

  // svg {
  //   // Display & Boxmodel

  //   margin-top: 0.125rem;
  // }
}
