:root {
  --primaryColorLight: #D95A5F;
  --primaryColorMid: #D03B42;
  --primaryColorDark: #BE2E34;

  --neutralColor100: #F2F2FA;
  --neutralColor200: #E1E1E6;
  --neutralColor300: #A8A8B3;
  --neutralColor700: #29292E;
  --neutralColor800: #202024;
  --neutralColor900: #121214;

  --semanticColorSuccess: #54C433;
  --semanticColorInfo: #0088DD;
  --semanticColorWarning: #FFBF00;
  --semanticColorDanger: #DD4321;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
}