:root {
  --primaryColorLight: #d95a5f;
  --primaryColorMid: #d03b42;
  --primaryColorDark: #be2e34;

  --neutralColor100: #f2f2fa;
  --neutralColor200: #e1e1e6;
  --neutralColor300: #a8a8b3;
  --neutralColor700: #29292e;
  --neutralColor800: #202024;
  --neutralColor900: #121214;

  --semanticColorSuccess: #54c433;
  --semanticColorInfo: #0088dd;
  --semanticColorWarning: #ffbf00;
  --semanticColorDanger: #dd4321;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
}

h1,
p {
  font-family: DM Sans, sans-serif;
}
