.appWrapper {
  // Positioning
  margin-left: 6rem;
  margin-right: 6rem;

  // Display & Boxmodel
  max-width: 100%;
  height: 100vh;
}

.navWrapper {
  // Positioning
  padding-top: 2.5rem;

  // Display & Boxmodel
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.navOneContainer {
  // Display & Boxmodel
  a + a {
    margin-left: 3.75rem;
  }
}

.navTwoContainer {
  // Display & Boxmodel
  display: flex;

  a + a {
    // Display & Boxmodel
    margin-left: 3.75rem;
  }
}

.iconWapper {
  // Display & Boxmodel
  display: flex;
  align-items: center;
  margin-right: 3.75rem;
}

.heroWrapper {
  // Positioning
  margin-top: 3.75rem;

  // Display & Boxmodel

  // Color

  // Text

  // Other

  h1 {
    // Positioning
    margin-bottom: 2.5rem;

    // Display & Boxmodel

    // Color
    color: var(--neutralColor700);
    font-weight: bold;
    font-size: 4rem;

    // Text

    // Other
  }

  p {
    // Positioning

    // Display & Boxmodel

    // Color
    color: var(--neutralColor800);

    // Text
    line-height: 140%;
    font-size: 1rem;

    // Other

    span {
      // Color
      color: var(--primaryColorDark);

      // Text
      font-weight: bold;

      // Other
      cursor: pointer;
    }
  }
}
